In [113]:
!pip install -q rpy2

In [114]:
%load_ext rpy2.ipython

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

# Data()

In [115]:
# We've learned about vectors and their two-dimensional counterpart, matrices. Now we will learn about Dataframes,
# Matrix inputs were limited because all the data inside of the matrix had to be of the same data type (numerics, logicals, etc).

# With Dataframes we will be able to organize and mix data types to create a very powerful data structure tool!

In [116]:
%%R

# Dataframe about states
state.x77

               Population Income Illiteracy Life Exp Murder HS Grad Frost
Alabama              3615   3624        2.1    69.05   15.1    41.3    20
Alaska                365   6315        1.5    69.31   11.3    66.7   152
Arizona              2212   4530        1.8    70.55    7.8    58.1    15
Arkansas             2110   3378        1.9    70.66   10.1    39.9    65
California          21198   5114        1.1    71.71   10.3    62.6    20
Colorado             2541   4884        0.7    72.06    6.8    63.9   166
Connecticut          3100   5348        1.1    72.48    3.1    56.0   139
Delaware              579   4809        0.9    70.06    6.2    54.6   103
Florida              8277   4815        1.3    70.66   10.7    52.6    11
Georgia              4931   4091        2.0    68.54   13.9    40.6    60
Hawaii                868   4963        1.9    73.60    6.2    61.9     0
Idaho                 813   4119        0.6    71.87    5.3    59.5   126
Illinois            11197   5107        0.9    70.14   10.3    52.6   127
Indiana              5313   4458        0.7    70.88    7.1    52.9   122
Iowa                 2861   4628        0.5    72.56    2.3    59.0   140
Kansas               2280   4669        0.6    72.58    4.5    59.9   114
Kentucky             3387   3712        1.6    70.10   10.6    38.5    95
Louisiana            3806   3545        2.8    68.76   13.2    42.2    12
Maine                1058   3694        0.7    70.39    2.7    54.7   161
Maryland             4122   5299        0.9    70.22    8.5    52.3   101
Massachusetts        5814   4755        1.1    71.83    3.3    58.5   103
Michigan             9111   4751        0.9    70.63   11.1    52.8   125
Minnesota            3921   4675        0.6    72.96    2.3    57.6   160
Mississippi          2341   3098        2.4    68.09   12.5    41.0    50
Missouri             4767   4254        0.8    70.69    9.3    48.8   108
Montana               746   4347        0.6    70.56    5.0    59.2   155
Nebraska             1544   4508        0.6    72.60    2.9    59.3   139
Nevada                590   5149        0.5    69.03   11.5    65.2   188
New Hampshire         812   4281        0.7    71.23    3.3    57.6   174
New Jersey           7333   5237        1.1    70.93    5.2    52.5   115
New Mexico           1144   3601        2.2    70.32    9.7    55.2   120
New York            18076   4903        1.4    70.55   10.9    52.7    82
North Carolina       5441   3875        1.8    69.21   11.1    38.5    80
North Dakota          637   5087        0.8    72.78    1.4    50.3   186
Ohio                10735   4561        0.8    70.82    7.4    53.2   124
Oklahoma             2715   3983        1.1    71.42    6.4    51.6    82
Oregon               2284   4660        0.6    72.13    4.2    60.0    44
Pennsylvania        11860   4449        1.0    70.43    6.1    50.2   126
Rhode Island          931   4558        1.3    71.90    2.4    46.4   127
South Carolina       2816   3635        2.3    67.96   11.6    37.8    65
South Dakota          681   4167        0.5    72.08    1.7    53.3   172
Tennessee            4173   3821        1.7    70.11   11.0    41.8    70
Texas               12237   4188        2.2    70.90   12.2    47.4    35
Utah                 1203   4022        0.6    72.90    4.5    67.3   137
Vermont               472   3907        0.6    71.64    5.5    57.1   168
Virginia             4981   4701        1.4    70.08    9.5    47.8    85
Washington           3559   4864        0.6    71.72    4.3    63.5    32
West Virginia        1799   3617        1.4    69.48    6.7    41.6   100
Wisconsin            4589   4468        0.7    72.48    3.0    54.5   149
Wyoming               376   4566        0.6    70.29    6.9    62.9   173
                 Area
Alabama         50708
Alaska         566432
Arizona        113417
Arkansas        51945
California     156361
Colorado       103766
Connecticut      4862
Delaware         1982
Florida         54090
Georgia         58073
Hawaii           6425
Idaho           82677
Illinois        55748
Indiana         36097
Iowa            55941
Kansas          81787
Kentucky        39650
Louisiana       44930
Maine           30920
Maryland         9891
Massachusetts    7826
Michigan        56817
Minnesota       79289
Mississippi     47296
Missouri        68995
Montana        145587
Nebraska        76483
Nevada         109889
New Hampshire    9027
New Jersey       7521
New Mexico     121412
New York        47831
North Carolina  48798
North Dakota    69273
Ohio            40975
Oklahoma        68782
Oregon          96184
Pennsylvania    44966
Rhode Island     1049
South Carolina  30225
South Dakota    75955
Tennessee       41328
Texas          262134
Utah            82096
Vermont          9267
Virginia        39780
Washington      66570
West Virginia   24070
Wisconsin       54464
Wyoming         97203

In [117]:
%%R

# US personal expense
USPersonalExpenditure

                      1940   1945  1950 1955  1960
Food and Tobacco    22.200 44.500 59.60 73.2 86.80
Household Operation 10.500 15.500 29.00 36.5 46.20
Medical and Health   3.530  5.760  9.71 14.0 21.10
Personal Care        1.040  1.980  2.45  3.4  5.40
Private Education    0.341  0.974  1.80  2.6  3.64

In [118]:
%%R

# Women
women

   height weight
1      58    115
2      59    117
3      60    120
4      61    123
5      62    126
6      63    129
7      64    132
8      65    135
9      66    139
10     67    142
11     68    146
12     69    150
13     70    154
14     71    159
15     72    164

To get a list of all available built-in dataframes, use data()

In [119]:
%%R

data()

File: /tmp/RtmpojEAgE/RpackageIQR1da21ee5c55d
Data sets in package ‘datasets’:



AirPassengers           Monthly Airline Passenger Numbers 1949-1960

BJsales                 Sales Data with Leading Indicator

BJsales.lead (BJsales)

                        Sales Data with Leading Indicator

BOD                     Biochemical Oxygen Demand

CO2                     Carbon Dioxide Uptake in Grass Plants

ChickWeight             Weight versus age of chicks on different diets

DNase                   Elisa assay of DNase

EuStockMarkets          Daily Closing Prices of Major European Stock

                        Indices, 1991-1998

Formaldehyde            Determination of Formaldehyde

HairEyeColor            Hair and Eye Color of Statistics Students

Harman23.cor            Harman Example 2.3

Harman74.cor            Harman Example 7.4

Indometh                Pharmacokinetics of Indomethacin

InsectSprays            Effectiveness of Insect Sprays

JohnsonJohnson          Quarterly Earnings per Johnson & Johnson Share

LakeHuron               Level of Lake Huron 1875-1972

LifeCycleSavings        Intercountry Life-Cycle Savings Data

Loblolly                Growth of Loblolly Pine Trees

Nile                    Flow of the River Nile

Orange                  Growth of Orange Trees

OrchardSprays           Potency of Orchard Sprays

PlantGrowth             Results from an Experiment on Plant Growth

Puromycin               Reaction Velocity of an Enzymatic Reaction

Seatbelts               Road Casualties in Great Britain 1969-84

Theoph                  Pharmacokinetics of Theophylline

Titanic                 Survival of passengers on the Titanic

ToothGrowth             The Effect of Vitamin C on Tooth Growth in

                        Guinea Pigs

UCBAdmissions           Student Admissions at UC Berkeley

UKDriverDeaths          Road Casualties in Great Britain 1969-84

UKgas                   UK Quarterly Gas Consumption

USAccDeaths             Accidental Deaths in the US 1973-1978

USArrests               Violent Crime Rates by US State

USJudgeRatings          Lawyers' Ratings of State Judges in the US

                        Superior Court

USPersonalExpenditure   Personal Expenditure Data

UScitiesD               Distances Between European Cities and Between

                        US Cities

VADeaths                Death Rates in Virginia (1940)

WWWusage                Internet Usage per Minute

WorldPhones             The World's Telephones

ability.cov             Ability and Intelligence Tests

airmiles                Passenger Miles on Commercial US Airlines,

                        1937-1960

airquality              New York Air Quality Measurements

anscombe                Anscombe's Quartet of 'Identical' Simple Linear

                        Regressions

attenu                  The Joyner-Boore Attenuation Data

attitude                The Chatterjee-Price Attitude Data

austres                 Quarterly Time Series of the Number of

                        Australian Residents

beaver1 (beavers)       Body Temperature Series of Two Beavers

beaver2 (beavers)       Body Temperature Series of Two Beavers

cars                    Speed and Stopping Distances of Cars

chickwts                Chicken Weights by Feed Type

co2                     Mauna Loa Atmospheric CO2 Concentration

crimtab                 Student's 3000 Criminals Data

discoveries             Yearly Numbers of Important Discoveries

esoph                   Smoking, Alcohol and (O)esophageal Cancer

euro                    Conversion Rates of Euro Currencies

euro.cross (euro)       Conversion Rates of Euro Currencies

eurodist                Distances Between European Cities and Between

                        US Cities

faithful                Old Faithful Geyser Data

fdeaths (UKLungDeaths)

                        Monthly Deaths from Lung Diseases in the UK

freeny                  Freeny's Revenue Data

freeny.x (freeny)       Freeny's Revenue Data

freeny.y (freeny)       Freeny's Revenue Data

infert                  Infertility after Spontaneous and Induced

                        Abortion

iris                    Edgar Anderson's Iris Data

iris3                   Edgar Anderson's Iris Data

islands                 Areas of the World's Major Landmasses

ldeaths (UKLungDeaths)

                        Monthly Deaths from Lung Diseases in the UK

lh                      Luteinizing Hormone in Blood Samples

longley                 Longley's Economic Regression Data

lynx                    Annual Canadian Lynx trappings 1821-1934

mdeaths (UKLungDeaths)

                        Monthly Deaths from Lung Diseases in the UK

morley                  Michelson Speed of Light Data

mtcars                  Motor Trend Car Road Tests

nhtemp                  Average Yearly Temperatures in New Haven

nottem                  Average Monthly Temperatures at Nottingham,

                        1920-1939

npk                     Classical N, P, K Factorial Experiment

occupationalStatus      Occupational Status of Fathers and their Sons

precip                  Annual Precipitation in US Cities

presidents              Quarterly Approval Ratings of US Presidents

pressure                Vapor Pressure of Mercury as a Function of

                        Temperature

quakes                  Locations of Earthquakes off Fiji

randu                   Random Numbers from Congruential Generator

                        RANDU

rivers                  Lengths of Major North American Rivers

rock                    Measurements on Petroleum Rock Samples

sleep                   Student's Sleep Data

stack.loss (stackloss)

                        Brownlee's Stack Loss Plant Data

stack.x (stackloss)     Brownlee's Stack Loss Plant Data

stackloss               Brownlee's Stack Loss Plant Data

state.abb (state)       US State Facts and Figures

state.area (state)      US State Facts and Figures

state.center (state)    US State Facts and Figures

state.division (state)

                        US State Facts and Figures

state.name (state)      US State Facts and Figures

state.region (state)    US State Facts and Figures

state.x77 (state)       US State Facts and Figures

sunspot.month           Monthly Sunspot Data, from 1749 to "Present"

sunspot.year            Yearly Sunspot Data, 1700-1988

sunspots                Monthly Sunspot Numbers, 1749-1983

swiss                   Swiss Fertility and Socioeconomic Indicators

                        (1888) Data

treering                Yearly Tree-Ring Data, -6000-1979

trees                   Diameter, Height and Volume for Black Cherry

                        Trees

uspop                   Populations Recorded by the US Census

volcano                 Topographic Information on Auckland's Maunga

                        Whau Volcano

warpbreaks              The Number of Breaks in Yarn during Weaving

women                   Average Heights and Weights for American Women





Use ‘data(package = .packages(all.available = TRUE))’

to list the data sets in all *available* packages.

---

# DataFrames - Overview of information

In [120]:
%%R

# Quick variable assignment to save typing
states <- state.x77

In [121]:
%%R

head(states)

           Population Income Illiteracy Life Exp Murder HS Grad Frost   Area
Alabama          3615   3624        2.1    69.05   15.1    41.3    20  50708
Alaska            365   6315        1.5    69.31   11.3    66.7   152 566432
Arizona          2212   4530        1.8    70.55    7.8    58.1    15 113417
Arkansas         2110   3378        1.9    70.66   10.1    39.9    65  51945
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Colorado         2541   4884        0.7    72.06    6.8    63.9   166 103766

In [122]:
%%R

head(states)

           Population Income Illiteracy Life Exp Murder HS Grad Frost   Area
Alabama          3615   3624        2.1    69.05   15.1    41.3    20  50708
Alaska            365   6315        1.5    69.31   11.3    66.7   152 566432
Arizona          2212   4530        1.8    70.55    7.8    58.1    15 113417
Arkansas         2110   3378        1.9    70.66   10.1    39.9    65  51945
California      21198   5114        1.1    71.71   10.3    62.6    20 156361
Colorado         2541   4884        0.7    72.06    6.8    63.9   166 103766

In [123]:
%%R

# Statistical summary of data
summary(states)

   Population        Income       Illiteracy       Life Exp
 Min.   :  365   Min.   :3098   Min.   :0.500   Min.   :67.96
 1st Qu.: 1080   1st Qu.:3993   1st Qu.:0.625   1st Qu.:70.12
 Median : 2838   Median :4519   Median :0.950   Median :70.67
 Mean   : 4246   Mean   :4436   Mean   :1.170   Mean   :70.88
 3rd Qu.: 4968   3rd Qu.:4814   3rd Qu.:1.575   3rd Qu.:71.89
 Max.   :21198   Max.   :6315   Max.   :2.800   Max.   :73.60
     Murder          HS Grad          Frost             Area
 Min.   : 1.400   Min.   :37.80   Min.   :  0.00   Min.   :  1049
 1st Qu.: 4.350   1st Qu.:48.05   1st Qu.: 66.25   1st Qu.: 36985
 Median : 6.850   Median :53.25   Median :114.50   Median : 54277
 Mean   : 7.378   Mean   :53.11   Mean   :104.46   Mean   : 70736
 3rd Qu.:10.675   3rd Qu.:59.15   3rd Qu.:139.75   3rd Qu.: 81162
 Max.   :15.100   Max.   :67.30   Max.   :188.00   Max.   :566432

In [124]:
%%R

# Structure of Data
str(states)

 num [1:50, 1:8] 3615 365 2212 2110 21198 ...
 - attr(*, "dimnames")=List of 2
  ..$ : chr [1:50] "Alabama" "Alaska" "Arizona" "Arkansas" ...
  ..$ : chr [1:8] "Population" "Income" "Illiteracy" "Life Exp" ...

## Creating Data frames

In [125]:
%%R

# Some made up weather data
days <- c('mon','tue','wed','thu','fri')
temp <- c(22.2,21,23,24.3,25)
rain <- c(TRUE, TRUE, FALSE, FALSE, TRUE)

In [126]:
%%R

# Pass in the vectors:
df <- data.frame(days,temp,rain)
df

  days temp  rain
1  mon 22.2  TRUE
2  tue 21.0  TRUE
3  wed 23.0 FALSE
4  thu 24.3 FALSE
5  fri 25.0  TRUE

In [127]:
%%R

# Check structure
str(df)

'data.frame':	5 obs. of  3 variables:
 $ days: chr  "mon" "tue" "wed" "thu" ...
 $ temp: num  22.2 21 23 24.3 25
 $ rain: logi  TRUE TRUE FALSE FALSE TRUE

In [128]:
%%R

summary(df)

     days                temp         rain
 Length:5           Min.   :21.0   Mode :logical
 Class :character   1st Qu.:22.2   FALSE:2
 Mode  :character   Median :23.0   TRUE :3
                    Mean   :23.1
                    3rd Qu.:24.3
                    Max.   :25.0

# Data Frame Selection and Indexing

In [129]:
%%R

# Some made up weather data
days <- c('mon','tue','wed','thu','fri')
temp <- c(22.2,21,23,24.3,25)
rain <- c(TRUE, TRUE, FALSE, FALSE, TRUE)

# Pass in the vectors:
df <- data.frame(days,temp,rain)
df

  days temp  rain
1  mon 22.2  TRUE
2  tue 21.0  TRUE
3  wed 23.0 FALSE
4  thu 24.3 FALSE
5  fri 25.0  TRUE

In [130]:
# We can use the same bracket notation we used for matrices for Data Frame Selection:
# df[rows,columns]

In [131]:
%%R

# Everything from first row
df[1,]

  days temp rain
1  mon 22.2 TRUE

In [132]:
%%R

#Everything from first column
df[,1]

[1] "mon" "tue" "wed" "thu" "fri"

In [133]:
%%R

# First 5 rows for days and temps
df[1:5,c('days','temp')]

  days temp
1  mon 22.2
2  tue 21.0
3  wed 23.0
4  thu 24.3
5  fri 25.0

In [134]:
# If you want all the values of a particular column you can use the dollar sign directly after the dataframe as follows:
# df.name$column.name

In [135]:
%%R

df$days

[1] "mon" "tue" "wed" "thu" "fri"

In [136]:
# You can also use bracket notation to return a data frame format of the same information

In [137]:
%%R

df['days']

  days
1  mon
2  tue
3  wed
4  thu
5  fri

# Importing and Exporting Data

In [138]:
# %%R

# # read from csv
# df <- read.csv('Data.csv')

# # read from excel
# library(readxl)     # Load the readxl package
# df <- read_excel('Data.xlsx',sheet='Sheet1')

# # Output to csv
# write.csv(df, file='Data.csv')

# Overview of Data Frame Operations¶

## Creating Data Frames

In [139]:
%%R


empty <- data.frame() # empty data frame

c1 <- 1:10 # vector of integers

c2 <- letters[1:10] # vector of strings

df <- data.frame(col.name.1=c1,col.name.2=c2)
df

   col.name.1 col.name.2
1           1          a
2           2          b
3           3          c
4           4          d
5           5          e
6           6          f
7           7          g
8           8          h
9           9          i
10         10          j

## Importing and Exporting Data

In [140]:
# %%R

# # read from csv
# df <- read.csv('Data.csv')

# # read from excel
# library(readxl)     # Load the readxl package
# df <- read_excel('Data.xlsx',sheet='Sheet1')

# # Output to csv
# write.csv(df, file='Data.csv')

## Getting Information about Data Frame

In [141]:
%%R

# Row and columns counts
print(nrow(df))
print(ncol(df))

[1] 10
[1] 2

In [142]:
%%R

# Column Names
colnames(df)

[1] "col.name.1" "col.name.2"

In [143]:
%%R

# Row names (may just return index)
rownames(df)

 [1] "1"  "2"  "3"  "4"  "5"  "6"  "7"  "8"  "9"  "10"

## Referencing Cells

In [144]:
%%R

newdf <- df[1:5, 1:2] # get multiplt cells in new df
newdf

  col.name.1 col.name.2
1          1          a
2          2          b
3          3          c
4          4          d
5          5          e

In [145]:
%%R

df

   col.name.1 col.name.2
1           1          a
2           2          b
3           3          c
4           4          d
5           5          e
6           6          f
7           7          g
8           8          h
9           9          i
10         10          j

In [146]:
%%R

 # reassign a single cell
df[[2, 'col.name.1']] <- 22
df

   col.name.1 col.name.2
1           1          a
2          22          b
3           3          c
4           4          d
5           5          e
6           6          f
7           7          g
8           8          h
9           9          i
10         10          j

## Referencing Rows

In [147]:
%%R

# returns a data frame  (and not a vector!)
rowdf <- df[1, ]
rowdf

  col.name.1 col.name.2
1          1          a

In [148]:
%%R

# to get a row as a vector, use following
vrow <- as.vector(df[1,])
print(vrow)

$col.name.1
[1] 1

$col.name.2
[1] "a"

## Referencing Rows

In [149]:
%%R

cars <- mtcars
head(cars)

                   mpg cyl disp  hp drat    wt  qsec vs am gear carb
Mazda RX4         21.0   6  160 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag     21.0   6  160 110 3.90 2.875 17.02  0  1    4    4
Datsun 710        22.8   4  108  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive    21.4   6  258 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout 18.7   8  360 175 3.15 3.440 17.02  0  0    3    2
Valiant           18.1   6  225 105 2.76 3.460 20.22  1  0    3    1

In [150]:
%%R

colv1 <- cars$mpg # returns a vector
print(colv1)

colv2 <- cars[, 'mpg'] # returns vector
print(colv2)

colv3<- cars[, 1] # a is int or string
print(colv3)

colv4 <- cars[['mpg']] # returns a vector
print(colv4)

 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4
 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4
 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4
 [1] 21.0 21.0 22.8 21.4 18.7 18.1 14.3 24.4 22.8 19.2 17.8 16.4 17.3 15.2 10.4
[16] 10.4 14.7 32.4 30.4 33.9 21.5 15.5 15.2 13.3 19.2 27.3 26.0 30.4 15.8 19.7
[31] 15.0 21.4

In [151]:
%%R

# Ways of Returning Data Frames
mpgdf <- cars['mpg'] # returns 1 col df
print(head(mpgdf))

mpgdf2 <- cars[1] # returns 1 col df
print(head(mpgdf2))

                   mpg
Mazda RX4         21.0
Mazda RX4 Wag     21.0
Datsun 710        22.8
Hornet 4 Drive    21.4
Hornet Sportabout 18.7
Valiant           18.1
                   mpg
Mazda RX4         21.0
Mazda RX4 Wag     21.0
Datsun 710        22.8
Hornet 4 Drive    21.4
Hornet Sportabout 18.7
Valiant           18.1

## Adding Rows

In [152]:
%%R

# Both arguments are DFs)
df2 <- data.frame(col.name.1=11,col.name.2='new' )
df2

# use rbind to bind a new row!
dfnew <- rbind(df,df2)
dfnew

   col.name.1 col.name.2
1           1          a
2          22          b
3           3          c
4           4          d
5           5          e
6           6          f
7           7          g
8           8          h
9           9          i
10         10          j
11         11        new

## Adding Columns

In [153]:
%%R

df[, 'copy.of.col2'] <- df$col.name.2 # copy a col
df

   col.name.1 col.name.2 copy.of.col2
1           1          a            a
2          22          b            b
3           3          c            c
4           4          d            d
5           5          e            e
6           6          f            f
7           7          g            g
8           8          h            h
9           9          i            i
10         10          j            j

In [154]:
%%R

# Can also use equations!
df[['col1.times.2']] <- df$col.name.1 *2
df

   col.name.1 col.name.2 copy.of.col2 col1.times.2
1           1          a            a            2
2          22          b            b           44
3           3          c            c            6
4           4          d            d            8
5           5          e            e           10
6           6          f            f           12
7           7          g            g           14
8           8          h            h           16
9           9          i            i           18
10         10          j            j           20

## Setting Column Names

In [155]:
%%R

# Rename second column
colnames(df)[2] <- 'SECOND COLUMN NEW NAME'
df

   col.name.1 SECOND COLUMN NEW NAME copy.of.col2 col1.times.2
1           1                      a            a            2
2          22                      b            b           44
3           3                      c            c            6
4           4                      d            d            8
5           5                      e            e           10
6           6                      f            f           12
7           7                      g            g           14
8           8                      h            h           16
9           9                      i            i           18
10         10                      j            j           20

## Selecting Multiple Rows

In [156]:
%%R

first.ten.rows <- df[1:10, ] # Same as head(df, 10)
first.ten.rows

   col.name.1 SECOND COLUMN NEW NAME copy.of.col2 col1.times.2
1           1                      a            a            2
2          22                      b            b           44
3           3                      c            c            6
4           4                      d            d            8
5           5                      e            e           10
6           6                      f            f           12
7           7                      g            g           14
8           8                      h            h           16
9           9                      i            i           18
10         10                      j            j           20

In [157]:
%%R

# Conditional Selection
sub1 <- df[ (df$col.name.1 > 8 & df$col1.times.2 > 10), ]
print(sub1)

sub2 <- subset(df, col.name.1 > 8 & col1.times.2 > 10)
print(sub2)

   col.name.1 SECOND COLUMN NEW NAME copy.of.col2 col1.times.2
2          22                      b            b           44
9           9                      i            i           18
10         10                      j            j           20
   col.name.1 SECOND COLUMN NEW NAME copy.of.col2 col1.times.2
2          22                      b            b           44
9           9                      i            i           18
10         10                      j            j           20

## Selecting Multiple Columns

In [158]:
%%R

df[, c(1, 2, 3)] #Grab cols 1 2 3

   col.name.1 SECOND COLUMN NEW NAME copy.of.col2
1           1                      a            a
2          22                      b            b
3           3                      c            c
4           4                      d            d
5           5                      e            e
6           6                      f            f
7           7                      g            g
8           8                      h            h
9           9                      i            i
10         10                      j            j

In [159]:
%%R

df[, c('col.name.1', 'col1.times.2')] # by name

   col.name.1 col1.times.2
1           1            2
2          22           44
3           3            6
4           4            8
5           5           10
6           6           12
7           7           14
8           8           16
9           9           18
10         10           20

In [160]:
%%R

df

   col.name.1 SECOND COLUMN NEW NAME copy.of.col2 col1.times.2
1           1                      a            a            2
2          22                      b            b           44
3           3                      c            c            6
4           4                      d            d            8
5           5                      e            e           10
6           6                      f            f           12
7           7                      g            g           14
8           8                      h            h           16
9           9                      i            i           18
10         10                      j            j           20

In [161]:
%%R

df[, -1] # keep all but first column

   SECOND COLUMN NEW NAME copy.of.col2 col1.times.2
1                       a            a            2
2                       b            b           44
3                       c            c            6
4                       d            d            8
5                       e            e           10
6                       f            f           12
7                       g            g           14
8                       h            h           16
9                       i            i           18
10                      j            j           20

In [162]:
%%R

df

   col.name.1 SECOND COLUMN NEW NAME copy.of.col2 col1.times.2
1           1                      a            a            2
2          22                      b            b           44
3           3                      c            c            6
4           4                      d            d            8
5           5                      e            e           10
6           6                      f            f           12
7           7                      g            g           14
8           8                      h            h           16
9           9                      i            i           18
10         10                      j            j           20

In [163]:
%%R

df[, -c(1, 3)] # drop cols 1 and 3

   SECOND COLUMN NEW NAME col1.times.2
1                       a            2
2                       b           44
3                       c            6
4                       d            8
5                       e           10
6                       f           12
7                       g           14
8                       h           16
9                       i           18
10                      j           20

# Dealing with Missing Data¶

In [164]:
%%R

any(is.na(df)) # detect anywhere in df

[1] FALSE

In [165]:
%%R

any(is.na(df$col.name.1)) # anywhere in col

[1] FALSE

In [166]:
%%R

# replace NAs with something else
df[is.na(df)] <- 0 # works on whole df
df

   col.name.1 SECOND COLUMN NEW NAME copy.of.col2 col1.times.2
1           1                      a            a            2
2          22                      b            b           44
3           3                      c            c            6
4           4                      d            d            8
5           5                      e            e           10
6           6                      f            f           12
7           7                      g            g           14
8           8                      h            h           16
9           9                      i            i           18
10         10                      j            j           20

In [167]:
%%R

# For a selected column
df$col.name.1[is.na(df$col.name.1)] <- 0
df

   col.name.1 SECOND COLUMN NEW NAME copy.of.col2 col1.times.2
1           1                      a            a            2
2          22                      b            b           44
3           3                      c            c            6
4           4                      d            d            8
5           5                      e            e           10
6           6                      f            f           12
7           7                      g            g           14
8           8                      h            h           16
9           9                      i            i           18
10         10                      j            j           20

In [168]:
%%R

# delete selected missing data rows
df <- df[!is.na(df$col.name.1), ]
df

   col.name.1 SECOND COLUMN NEW NAME copy.of.col2 col1.times.2
1           1                      a            a            2
2          22                      b            b           44
3           3                      c            c            6
4           4                      d            d            8
5           5                      e            e           10
6           6                      f            f           12
7           7                      g            g           14
8           8                      h            h           16
9           9                      i            i           18
10         10                      j            j           20